

<button class="btn btn btn-primary" id="add"> Přidat nové vozidlo </button>
<h1 class="mt-2">Moje automobily</h1>
<div id="content" class="d-flex p-3 flex-wrap">

    <partial name="_PartialGenerateCards" />

</div>






<script src="~/lib/jquery/jquery.min.js"></script>
<script>
    //click on text
    //cancel button
    $(document).on("click", '#dragArea', function (event) {
        console.log("Drag area click");

        var fileInput = $(this).closest("#card").find("#fileInput");
        fileInput.click();
    });

    //po vyberu souboru vlozim do p text
    $(document).on("change", '#fileInput', function (event) {
        console.log("input change");

        var file = new DataTransfer();
        file.items.add($(this).prop("files")[0]);
        $(this).closest("#card").find("#fileText").text(file.files[0].name);
    });



    //edit button
    $(document).on("click", '[title="EditButton"]', function (event) {
        console.log("edit click");


        var topElement = $(this).closest("#card");

        topElement.find("*").removeAttr("readonly");
        topElement.find("input").removeClass("no-border");

        topElement.find('[title="EditButton"]').addClass("d-none");
        topElement.find('[title="DeleteButton"]').addClass("d-none");

        topElement.find('[title="CancelButton"]').removeClass("d-none");
        topElement.find('[title="SaveButton"]').removeClass("d-none");

        topElement.find("#dragArea").addClass("dragArea");
        topElement.find("#dragArea").removeClass("d-none");
        topElement.find("#dragArea").find("p").removeClass("d-none");
        topElement.find(".dragImage").addClass("dragImageEdit");


        topElement.find(".dragImage").detach().appendTo(topElement.find("#dragArea"));
    });



    //cancel button
    $(document).on("click", '[title="CancelButton"]', function () {
        console.log("Cancel click");

        var topElement = $(this).closest("#card");
        topElement.find("input").attr("readonly", "");
        topElement.find("textarea").attr("readonly", "");
        topElement.find("input").addClass("no-border");

        topElement.find('[title="EditButton"]').removeClass("d-none");
        topElement.find('[title="DeleteButton"]').removeClass("d-none");

        topElement.find('[title="CancelButton"]').addClass("d-none");
        topElement.find('[title="SaveButton"]').addClass("d-none");

        topElement.find("#dragArea").addClass("d-none");
        topElement.find(".dragImage").removeClass("dragImageEdit");

        topElement.find(".dragImage").detach().prependTo(topElement);

    });

    //save car
    $(document).on("click", '[title="SaveButton"]', function () { 
        var topElement = $(this).closest("#card");
        var form = $(this).closest("#card-body").find("form");
        var formData = new FormData();
        formData.append("id", form.find("input[name=id]").val());
        formData.append("brand", form.find("input[name=brand]").val());
        formData.append("model", form.find("input[name=model]").val());
        formData.append("seats", form.find("input[name=seats]").val());
        formData.append("color", form.find("input[name=color]").val());
        formData.append("spz", form.find("input[name=spz]").val());
        formData.append("file", form.find("#fileInput").prop("files")[0]);

        
        var request = new XMLHttpRequest();
        request.responseType = "document";
        request.open("POST", "/Car/Add");
        request.send(formData);

        request.onload = function () {
            if (request.status == 200) {
                topElement.html(this.responseXML.getElementById("card").innerHTML);
            }
        };
    });

    //delete car
    $(document).on("click", '[title="DeleteButton"]', function (event) {

        var cardbody = $(this).closest("#card");
        $.ajax({
            url: "/Car/Delete",
            type: "POST",
            data: "id=" + cardbody.find("form").find('input[name="id"]').attr("value"),
            success: function (response) {
                //cardbody.addClass("d-none");
                cardbody.remove();
            }
        });

    });

    //add new car
    $(document).ready(function () {
        $('button[id="add"]').click(function () {

            $.ajax({
                url: "/Car/AddEmpty",
                type: "POST",
                success: function (response) {
                    var tmp = $(response);
                    tmp.find("*").removeAttr("readonly");
                    tmp.find("input").removeClass("no-border");
                    tmp.find("#dragArea").addClass("dragArea");
                    tmp.find("#dragArea").removeClass("d-none");
                    tmp.find(".dragImage").addClass("dragImageEdit");
                    tmp.find(".dragImage").detach().appendTo(tmp.find("#dragArea"));



                    $('#content').prepend(tmp);

                }
            });
        });
    });



    $(document).ready(function () {

        //  if (dragArea != null) {

        $(document).on("dragover dragenter", "#dragArea", function (e) {
            e.preventDefault();
            this.className = "dragArea dragOver";

        });



        $(document).on("drop", "#dragArea", function (event) {
            event.preventDefault();
            this.className = "dragArea";
            var id = $(this).parent().find("form");
            $(this).parent().find("#fileInput").prop('files', event.originalEvent.dataTransfer.files);
            $(this).find(".fileText").text(event.originalEvent.dataTransfer.files[0].name)
        });

        $(document).on("dragleave", "#dragArea", function () {
            this.className = "dragArea";
        });

    });
</script>
