

<button class="btn btn btn-primary" id="add"> Přidat nové vozidlo </button>
<h1 class="mt-2">Moje automobily</h1>
<div id="content" class="d-flex p-3 flex-wrap">

    <partial name="_PartialGenerateCards" />

</div>






<script src="~/lib/jquery/jquery.min.js"></script>
<script>


    //edit button
    $(document).on("click", '[title="EditButton"]', function (event) {

        var topElement = $(this).parent().parent();

        topElement.find("*").removeAttr("readonly");
        topElement.find("input").removeClass("no-border");

        topElement.find('a[title="EditButton"]').addClass("d-none");
        topElement.find('a[title="DeleteButton"]').addClass("d-none");

        topElement.find('a[title="CancelButton"]').removeClass("d-none");
        topElement.find('a[title="SaveButton"]').removeClass("d-none");

        topElement.find("#dragArea").addClass("dragArea");
        topElement.find("#dragArea").removeClass("d-none");
        topElement.find("#dragArea").find("p").removeClass("d-none");
        topElement.find(".dragImage").addClass("dragImageEdit");


        topElement.find(".dragImage").detach().appendTo(topElement.find("#dragArea"));
    });

    //cancel button
    $(document).on("click", '[title="CancelButton"]', function (event) {
        var topElement = $(this).parent().parent();

        topElement.find("input").attr("readonly", "");
        topElement.find("textarea").attr("readonly", "");
        topElement.find("input").addClass("no-border");

        topElement.find('a[title="EditButton"]').removeClass("d-none");
        topElement.find('a[title="DeleteButton"]').removeClass("d-none");

        topElement.find('a[title="CancelButton"]').addClass("d-none");
        topElement.find('a[title="SaveButton"]').addClass("d-none");

        topElement.find("#dragArea").addClass("d-none");
        topElement.find(".dragImage").removeClass("dragImageEdit");

        topElement.find(".dragImage").detach().prependTo(topElement);




    });

    //edit/save car
    $(document).on("click", '[title="SaveButton"]', function (event) {
        var cardBody = $(this).parent();
        $.ajax({
            url: "/Car/Add",
            type: "POST",
            dataType: "text",
            data: cardBody.find("form").serialize() + "&id=" + cardBody.find("form").attr("id"),
            success: function (response) {
                //add generate id and add it to form attr id
                cardBody.find("form").attr("id", response);
            },
            error: function () {
                console.log("Error occured while save car");
            }
        });

        cardBody.find("input").addClass("no-border");
        cardBody.find("input").attr("readonly", "");
        cardBody.find("textarea").attr("readonly", "");
        cardBody.find("a").addClass("d-none");
        cardBody.find('a[title="EditButton"]').removeClass("d-none");
        cardBody.find('a[title="DeleteButton"]').removeClass("d-none");

        cardBody.parent().find("#dragArea").addClass("d-none");
        cardBody.parent().find(".dragImage").removeClass("dragImageEdit");
        cardBody.parent().find(".dragImage").detach().prependTo(cardBody.parent());

    });

    //delete car
    $(document).on("click", '[title="DeleteButton"]', function (event) {
        var cardbody = $(this).parent().parent();
        console.log(cardbody.find("form").attr("id"));
        $.ajax({

            url: "/Car/Delete",
            type: "POST",
            data: "id=" + cardbody.find("form").attr("id"),
            success: function (response) {
                cardbody.addClass("d-none");
            }
        });

    });

    //add new car
    $(document).ready(function () {
        $('button[id="add"]').click(function () {
            $.ajax({
                url: "/Car/AddEmpty",
                type: "POST",
                success: function (response) {
                    var tmp = $(response);
                    tmp.find("*").removeAttr("readonly");
                    tmp.find("input").removeClass("no-border");
                    tmp.find("#dragArea").addClass("dragArea");
                    tmp.find("#dragArea").removeClass("d-none");
                    tmp.find(".dragImage").addClass("dragImageEdit");
                    tmp.find(".dragImage").detach().appendTo(tmp.find("#dragArea"));



                    $('#content').prepend(tmp);

                }
            });




        });
    });



    $(document).ready(function () {

      //  if (dragArea != null) {

            $(document).on("dragover","#dragArea", function () {
                this.className = "dragArea dragOver";

            });
                

         


            var upload = function (file) {
                var formData = new FormData();
                formData.append("file", file);
                formData.append("id", document.getElementsByTagName("FORM")[1].getAttribute("id"));
                const Http = new XMLHttpRequest();
                const url = "/car/UploadImage";
                Http.open("post", url);
                Http.send(formData);
            };


            $(document).on("drop", "#dragArea", function (e) {
                e.preventDefault();
                this.className = "dragArea";
                upload(e.dataTransfer.files[0]);
            });

            $(document).on("dragleave", "#dragArea", function () {

                this.className = "dragArea";
            });
    //    };

    });
</script>
