<!DOCTYPE html>
@using CarPool.Areas.Identity.Pages.Account
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DiplomovaPrace</title>
    <link rel="stylesheet" href="~/lib/bootstrap4/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/fontawesome.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("CSS", required: false)


</head>
<body>
    <header>
        <div class="container">
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 pl-0">
                <div class="container pl-0">
                    <!-- <a class="navbar-brand" asp-action="Route" asp-controller="FindRouteForm">CarPool</a>-->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" 
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <partial name="_LoginPartial" />
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Route" asp-action="FindRouteForm" title="Najít jízdu"><i class="fa fa-search-location ml-0 mr-2"></i>Najít jízdu</a>


                            </li>
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="Route" asp-action="CreateRouteForm"><i class="fa fa-plus-circle mr-2"></i>Vytvořit jízdu</a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link text-dark " asp-controller="Route" asp-action="ShowLoggedRoutes"><i class="fa fa-car-side mr-2"></i>Přihlášené jízdy</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="Route" asp-action="ShowMyRoutes"><i class="fa fa-bullhorn mr-2"></i>Nabídnuté  jízdy</a>
                                </li>
                                <li>
                                    
                                    <a class="nav-link text-dark" asp-controller="Cars" asp-action="ShowMyCars"><i class="fa fa-warehouse mr-2"></i>Moje Vozidla</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <div id="wrap">
        <div id="main" class="container clear-top">
            @RenderBody()
        </div>
    </div>

    <footer class="border-top card-footer text-muted footer">
        <div class="container">
            &copy; 2020 - CarPool - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>





    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/moment.js/moment.min.js"></script>
    <script src="~/lib/bootstrap4/dist/js/bootstrap.js"></script>
    <script src="~/lib/popper.js/dist/umd/popper.js"></script>
    <script src="~/lib/font-awesome/js/all.js"></script>
    @RenderSection("Scripts", required: false)



</body>
</html>
