html, body {
    height: 92%;
}

#wrap {
    min-height: 100%;
}

#main {
    overflow: visible;
    padding-bottom: 150px; /* this needs to be bigger than footer height*/
}

.footer {
    position: relative;
    margin-top: -50px; /* negative value of footer height */
    height: 60px;
    clear: both;
    padding-top: 20px;
}
h1{
    margin-top:5%;
    margin-bottom:18px;

}


.no-border {
    border: 0;
    box-shadow: none; /* You may want to include this as bootstrap applies these styles too */
}
